* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSansKR R';
    // font-family: 'Space Grotesk';
}



html, body {
    position: relative;
    width: 100%;
    height: 100%;
}



// 페이지 공통 컨테이너
#container {
    width: 100%;
    padding: 50px;
}



// 앱 외곽 라인
.container-line {
    position: absolute;
    opacity: 0.3;
    z-index: 10000;
}


#container-top-line {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
}


#container-bottom-line {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}


#container-left-line {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
}


#container-right-line {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
}